ProjectPhotos/assets/images/
ProjectPhotos/.vs/
.vs/ProjectPhotos/FileContentIndex/
.vs/ProjectPhotos/v17/ipch/
3rdParties/glfw/build/src/x64/
3rdParties/imgui/x64/
3rdParties/soil/x64/
Libraries/LibCore/x64/
Libraries/LibCV/x64/
Libraries/LibGraphics/x64/
ProjectPhotos/x64/
x64/
.vs/ProjectPhotos/v17/Browse.VC.db
.vs/ProjectPhotos/v17/DocumentLayout.backup.json
.vs/ProjectPhotos/v17/DocumentLayout.json
.vs/ProjectPhotos/v17/fileList.bin
.vs/ProjectPhotos/v17/Solution.VC.db
ProjectPhotos/imgui.ini
