ProjectPhotos/assets/images/
ProjectPhotos/.vs/
.vs/ProjectPhotos/FileContentIndex/
.vs/ProjectPhotos/v17/ipch/
3rdParties/glfw/build/src/x64/
3rdParties/imgui/x64/
3rdParties/soil/x64/
Libraries/LibCore/x64/
Libraries/LibCV/x64/
Libraries/LibGraphics/x64/
ProjectPhotos/x64/
x64/
.vs/ProjectPhotos/v17/Browse.VC.db
.vs/ProjectPhotos/v17/DocumentLayout.backup.json
.vs/ProjectPhotos/v17/DocumentLayout.json
.vs/ProjectPhotos/v17/fileList.bin
.vs/ProjectPhotos/v17/Solution.VC.db
ProjectPhotos/imgui.ini
.vs/ProjectPhotos/v17/Browse.VC.db-shm
.vs/ProjectPhotos/v17/Browse.VC.db-wal
.vs/ProjectPhotos/v17/Browse.VC.opendb
.vs/ProjectPhotos/v17/Solution.VC.db-shm
.vs/ProjectPhotos/v17/Solution.VC.db-wal
3rdParties/SOIL2/build/.vs/soil2/FileContentIndex/5b79b7c0-38ee-49c2-b032-93a2111916d5.vsidx
3rdParties/SOIL2/build/.vs/soil2/v17/Browse.VC.db
3rdParties/SOIL2/build/.vs/soil2/v17/DocumentLayout.json
3rdParties/SOIL2/build/.vs/soil2/v17/Solution.VC.db
